<Border{{#widthRequest}} WidthRequest="{{widthRequest}}"{{/widthRequest}}{{#heightRequest}} HeightRequest="{{heightRequest}}"{{/heightRequest}}{{#backgroundColor}} BackgroundColor="{{backgroundColor}}"{{/backgroundColor}}{{#outlineColor}} Stroke="{{outlineColor}}" StrokeThickness="1"{{/outlineColor}} >

    {{#cornerRadius}}
    <Border.StrokeShape>
        <RoundRectangle CornerRadius="{{cornerRadius}}" />
    </Border.StrokeShape>
    {{/cornerRadius}}
    {{{content}}}
</Border>