<Grid{{#widthRequest}} WidthRequest="{{widthRequest}}"{{/widthRequest}}{{#heightRequest}} HeightRequest="{{heightRequest}}"{{/heightRequest}}{{#backgroundColor}} BackgroundColor="{{backgroundColor}}"{{/backgroundColor}}
      RowDefinitions="{{rowDefinitions}}"
      ColumnDefinitions="{{columnDefinitions}}">
    {{{content}}}
</Grid>
